{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des cours</h1>
{{ dump(courses) }}
    <ul>
    {% for cours in courses %}
        <li>
            <p>Nom : {{ cours.name }}</p>
            <p>Contenu: {{ cours.content }}</p>
            <p>Catégorie: {{ cours.category ? cours.category.name: '?' }}</p>
            <p>Durée (en jours): {{ cours.duration }}</p>
            <p>Publié: {{ cours.published ? "Oui" : "Non" }}</p>
            <p>Date Création: {{ cours.dateCreated | date('Y-m-d h:i:s') }}</p>
            <p>Nombre formateurs: {{ cours.trainers |length }}
            <ul>
                {% for trainer in cours.trainers %}
                    <li>{{ trainer.firstname ~' '~trainer.lastname }}</li>
                {% endfor %}
            </ul>
            </p>
            <a href="{{ path('app_cours_edit',{'id':cours.id}) }}" class="btn btn-warning" title="Modifier le cours">Modifier</a>
            <a href="{{ path('app_cours_supprimer',{'id':cours.id, 'token':csrf_token('delete-'~cours.id)}) }}" class="btn btn-danger" title="Supprimer le cours">Supprimer</a>
        </li>
        <hr>
    {% else %}
        <p>Aucun cours présent dans la BD.</p>
    {% endfor %}
    </ul>
<hr>
    <ul>
        {% for cours in allCours %}
            <li>
                <p>Nom : {{ cours.name }}</p>
                <p>Contenu: {{ cours.content }}</p>
            </li>
        {% else %}
            <p>Aucun cours présent dans la BD.</p>
        {% endfor %}
    </ul>
<hr>
<ul>
    {% for cours in tests %}
        <li>
            <p>Nom : {{ cours.name }}</p>
            <p>Contenu: {{ cours.content }}</p>
        </li>
    {% else %}
        <p>Aucun cours présent dans la BD.</p>
    {% endfor %}
</ul>
{% endblock %}

{% block title %}
Les cours | {{ parent() }}
{% endblock %}

