<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('main_home') }}">DEMO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('main_home') }}" title="Accueil">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('main_test') }}" title="Test">Test</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_cours_list') }}" title="Cours">Cours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_cours_create') }}" title="Créer Cours">Créer Cours</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

